<html>
    <head>
        <title>Welcome Hoe</title>
    </head>

    <header>Welcome to Georgian College</header>

    <form>
        <label for="fname">First name: Chengbin</label><br>
        <input type="text" id="fname" name="fname">Huang<br>
    </form> 

    <div>
        <p>I am the student in Georgian College</p>
    </div>
</html>